/* Base styles for all screen sizes */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-variant: small-caps;
    font-size: 24px; /* Adjust the font size for mobile */
}

img {
    cursor: pointer;
    max-width: 100%; /* Ensure the image doesn't overflow the viewport */
    height: auto; /* Maintain image aspect ratio */
}

.login_btn
{
    display: inline-block;
    background-color: #f2a73d;
    color: white;
    padding: 10px 40px;
    text-align: center;
    border-radius: 20px;
    font-family: Montserrat-Light;
    cursor: pointer;
    letter-spacing: 1px;
}
.login_btn:hover
{
    background-color:  #1e2434;
    box-shadow: 0 0 1rem #0ef;
    transition: .5s ease;
    border-radius: 40px;
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 350px; /* Adjust the form width for mobile */
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"]{
    cursor: pointer;
}

.text {
    margin-top: 20px;
    color:black;
}
.text a{
    text-decoration:none;
    margin: 20px;
}

